@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide scrollbar for IE, Edge, and custom scrollbars */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
